<footer class="footer">
    <div class="footer-container">

        <div class="footer-left">
            <i class="fa-regular fa-compass footer-icon"></i>
            <span class="footer-brand">Wanderlust</span>
        </div>

        <div class="footer-right">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Wanderlust · All rights reserved
    </div>
</footer>
